/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-abr-2018, 15:59:08
    Author     : CNSAKS
*/
#pane_main{
    -fx-background-image: url("/clickerg/visualsAndFiles/main/main.png");
    -fx-background-size: cover;
}

/*.button{
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-transition-duration: 0.4s;
}*/

.button:hover {
    -fx-background-color: #000090; /* darkblue */
    -fx-color: white;
}

